*{
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
    min-height: 100vh;
}

body{
    /*
    background-color: darkslategrey;
    background-image: url("./pics/background-low-poly-plexus-design-network-communications.jpg");
    background-position: center;
    background-repeat: repeat-y;
    background-attachment: fixed;
    */
    background: darkslategray 
        url("./pics/background-low-poly-plexus-design-network-communications.jpg")
        no-repeat center;
    background-size: cover;
    color: white;
}

.box{
    max-width: 600px;
    min-width: 300px;
    margin: 10px auto; 
    padding: 4px;
}

.box.gradient{
    background-image: linear-gradient(-45deg, greenyellow, green, red, lightcoral);
    color: black;
    text-shadow: 2px 2px 2px white;
}

.box.abstract{
    background: url("./pics/colorful-fractal-abstract-header.jpg");
    background-size: contain;
}

.bandy{
    background: lightblue;
    color: darkblue;
}

.bandy header img{
    max-width: 100%;
}

.bandy h1 {display: none;}

.film{
    background: url("./pics/filmcsik_bacground.gif") rgba(255, 255, 255, .35);
    background-size: contain;
}

.film>div{
    width: 75%;
    margin: auto;
}

.film header{
    background: url("./pics/tizedes_header.jpg");
    background-size: cover;
    aspect-ratio: 5/3;
}

.film header h1{
    padding: 8px;
    text-shadow: 2px 2px 2px black, -2px 2px 2px black, 2px -2px 2px black, -2px -2px 2px black;
    background-color: rgba(0, 0, 0, 0.5);
}