*{
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: lightblue;
}
.fo{
    width: 100%;
    margin: auto;
}
.kepes{
    width: fit-content;
    max-width: 100%;
    margin: auto;
}
.kepes img{
    aspect-ratio: 505/325;
    max-width: 100%;
    height: auto;
}
.cimsor1{
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    max-width: 740px;
}
.kozep{
    max-width: 740px;
    margin: auto;
    text-align: justify;
}
h1{
    margin: 0;
}
.flex-elem{
    width: 360px;
}
.flex-elem-nagyon-eros{
    width: 740px;
}
.flex{
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 740px;
    margin: auto;
}
.konnyu{background-color: blue; color: white;}
.konnyu-kozepes{background-color: yellow;}
.kozepes{background-color: lightskyblue; color: white;}
.eros{background-color: red; color: white;}
.nagyon-eros{background-color: crimson; color: white;}
.konnyu,.konnyu-kozepes,.kozepes,.eros{
    height: 100px;
    margin: auto;
    padding: none;
}
.nagyon-eros{
    height: fit-content;
}
.nagyon-eros p{
    padding: 0px 0px 10px 10px;
}
.flex-elem h2,.flex-elem-nagyon-eros h2{
    padding: 10px;
}
@media (max-width: 970px) {
    .flex-elem, .flex-elem-nagyon-eros {
        max-width: 505px;
        width: 100%;
    }
    .flex{
        flex-direction: column;
        max-width: 505px;
        width: 100%;
    }
    .cimsor1,.kozep{
        max-width: 505px;
        width: 100%;
    }
}