@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{box-sizing: border-box;}

:root{
    --MenuWidth: 150px
}

html {
    font-family: "Roboto", sans-serif;
}

body{margin: 0px;}

#wrapper, body{
    background-color: none;
}

#wrapper, h1{
    margin: .25rem auto;
    max-width: 960px;
}

header{
    background-color: crimson;
    padding: .5rem;
    border-radius: 1rem 1rem 0 0;
}

h1{
    color: darkgray;
}

nav{
    float: left;
    width: var(--MenuWidth);
}

nav ul{
    list-style-type: none;
    padding-inline-start: 0px;
}

nav a:hover{
    background-color: crimson; color: darkgray;
    border: #666 inset 5px;
    transition: 500ms;
    padding: auto;
}

nav a{
    text-decoration: none;
    border: 5px outset #666;
    border-radius: 4px;
    padding: 4px;
    display: block;
    background-color: darkgray;
    color: crimson;
    transition: 500ms;
    text-align: center;
    font-weight: bold;
}

nav>ul>li{
    margin-bottom: .5rem;
}

.almenus{
    cursor: pointer;
    color: darkgray;
}

.almenus:hover .almenu{
    display: block;
    transition: 500ms;
}

.almenu{
    font-size: 0.8em;
    padding-inline-start: 20px;
    transition: 500ms;
    display: none;
}

.almenu li{
    margin-top: 2px;
    transform: 500ms;
}

iframe{
    border: none;
    width: calc(100% - var(--MenuWidth));
    height: calc(100vh - 137px);
    float: right;
}

footer{
    position: sticky; bottom: 0; right: 0; left: 0;
    text-align: center;
    background-color: crimson;
    padding: .5rem;
    border-radius: 0 0 1rem 1rem;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}